ul{list-style: none;
    margin: 0;
    padding: 0px;
    color:white;
    overflow:hidden;
    position:fixed;
    top:0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;}
ul li{float:left;} 
 ul li a{text-decoration: none;
         display: block;
         padding: 14px 16px;
         text-align: center;
         color: black;}   
 body{margin: 0;}   
ul li:last-child:right{border-right: none;
float:right;}
div{margin-top: 20px;
margin-left: 15px;
padding: 2px 15px;
height: 1000px;}
ul li.right-align { float:right;}
a:hover {color: red;}
a:active {color: black;}
a:link{text-decoration: none;}
a:visited {text-decoration: none;}
.all {width: 100%;
      margin: auto;}
.container {float: left;
    width: 500px;
    padding: 0px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
.containerimg {
  width: 500px;
  padding: 15px;

}
.containerimg1 {
    float: right;
    width: 450px;
    padding: 10%;
  }
.container1 {
    float: left;
    width: 650px;
    height: 20px;
    padding: 5px;
    font-size: 12px;
  }
.container2 {
    float:left;
    padding: 5px;
    font-size: 12px;
    width: 650px;
    height: 0px;
} 
  .div1 {
    float: left;
    padding: 10px;
    width: 200px;
    height: 120px;
  }
  .div2 {
    float:left;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;}
