.trang{
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    height: 1000px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    width: 68%;
    position: fixed;
    top:2%;
    height: 20px;
    padding-left: 20%;
  }
  ul li{
    float: left;
  }
  ul li:last-child{
    border-right:none ;
    float: right;
  }
  ul li a{
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #3501f1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: bold;
  }
  ul li a:hover{
    background-color: rgb(248, 0, 0);
    color: #131313;
  }
  .container{
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    height: 80px;
}
.container h1{
    margin-left: 10px;
    margin-top: 15px;
} 
.container_imer{display: flex;
display: flex;
justify-content: space-around;}
.block{width:18%;
background-color: white;
border-radius: 5px;
}
.block img{width: 100%;}
.block a{text-decoration: none; }
h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: bold;}
p{font-family: 'Times New Roman', Times, serif;}
h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;}
a{font-family: 'Courier New', Courier, monospace;
font-style: bold;}